.div-link {
  margin-top: 5px;
  margin-right: 5px;
}

.Navlink :hover {
  background-color: #00195f;
}

@media (max-width: 456px) {
.header-right {
float: none;
justify-content: flex-start;
}
}

.activ {
  background-color: rgb(85, 85, 85);
}



body {
  background: #282c34;
}

/* Landingpage */

.landing-grid {
  text-align: center;
}

.avatar-img {
  height: 250px;
  width: auto;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
  padding: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 1.5vmax;
  padding: 1em;
  margin-top: 0px;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 10vmin;
  padding: 10px;
}

/* Weather-app */

.weather {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}
